@import url('https://fonts.googleapis.com/css2?family=IBM Plex Sans Thai Looped');
.odometer-inside{
color: green;
font-family:'IBM Plex Sans Thai Looped';
}
div.realtime-container-side-1{
background-color:blue;
}